<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h3>Google project</h3>
            <p>Vision Recognition</p>
            <% if ( !user) { %>
            <% } else { %>
                <p>
                    Hello,
                    <%= user.displayName %></p>
            <% } %>
            <form action="/results" form method="POST">
                <div class="form-result">
                    Select a date to view information<br>
                    <script>
                        $(document).ready(function() {
                            $('#chooseDate').datepicker({format: "mm/dd/yyyy", calendarWeeks: true});
                        });
                    </script>
                    <input type="text" id="chooseDate" id="date" name="date">
                </div>
                <div class="form-result">
                    <input type="submit" value="View"><br><br>
                </div>
            </form>

            <form action="/update/counter" form method="POST">
                <div class="form-group">
                    Number of service counter:
                    <input type="text" id="numOfCounter" name="numOfCounter">
                    <input type="submit" value="Update">
                </div>
            </form>

            <form action="/upload" form method="POST" enctype="multipart/form-data">
                <div class="form-image">
                    <input type="file" name="img" id="img" accept=".png, .jpeg, .jpg">
                </div>
                <div class="form-image">
                    <input type="submit" value="Upload"><br>
                    <br>
                </div>
            </form>

            <ul class="list-inline">
                <% if (images.length > 0) { %>
                    <% images.forEach(function(image) { %>
                        <% if(date != image.date) { %>
                            <% date = image.date; %>
                            <br><br>
                            <h2>
                                <%=date%>
                            </h2>
                        <% }%>
                        <li>
                            <br>
                            <img src='<%= image.url %>' class='img-thumbnail' style="width:246px;height:246px;"/>
                            <br>
                            <strong><%=image.name %></strong><br>
                            There are
                            <%= image.numOfPeople %>
                            people in the image.<br>
                            <%= image.numOfCounters %>
                            <% if(image.numOfCounters>1){ %>
                                counters opened for service.
                            <% } else { %>
                                counter opened for service.
                            <% } %>
                            <br>
                            At
                            <%= image.time %><br></li>
                    <% }); %>
                <% } else { %>
                    <h2>No data available</h2>
                <% } %>
            </ul>
        </div>
    </div>
</div>
