<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Google Vision Human Counter
        </title>
        <% include head %>
    </head>
    <body class="container-fluid">
        <header>
            <% include header %>
        </header>
        <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAmZB2B45FM36JryBmop4qd26I_AVyqf3g",
                authDomain: "vision-recognition-1338.firebaseapp.com",
                databaseURL: "https://vision-recognition-1338.firebaseio.com",
                storageBucket: "vision-recognition-1338.appspot.com"
            };
        </script>

            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h3>Google project</h3>
                        <p>Vision Recognition</p>

                        <form action="/results" form method="POST">
                            <div class="form-result">
                                Select a date to view information<br>
                                <script>
                                    $(document).ready(function() {
                                        $('#chooseDate').datepicker({format: "mm/dd/yyyy", calendarWeeks: true});
                                    });
                                </script>
                                <input type="text" id="chooseDate" id="date" name="date">
                            </div>
                            <div class="form-result">
                                <input type="submit" value="View"><br><br>
                            </div>
                        </form>

                        <form action="/update/counter" form method="POST">
                            <div class="form-group">
                                Number of service counter:
                                <input type="text" id="numOfCounter" name="numOfCounter">
                                <input type="submit" value="Update">
                            </div>
                        </form>

                        <form action="/upload" form method="POST" enctype="multipart/form-data">
                            <div class="form-image">
                                <input type="file" name="img" id="img">
                            </div>
                            <div class="form-image">
                                <input type="submit" value="Upload"><br>
                                <br>
                            </div>
                        </form>

                        <ul class="list-inline">
                            <% if (images.length > 0) { %>
                                <% images.forEach(function(image) { %>
                                    <li>
                                        <img src='<%= image.url %>' class='img-thumbnail' style="width:246px;height:246px;"/>
                                        <br>
                                        <strong><%=image.name %></strong><br>
                                        There are
                                        <%= image.numOfPeople %>
                                        people in the image.<br>
                                        <%= image.numOfCounters %>
                                        <% if(image.numOfCounters>1){ %>
                                            counters opened for service.
                                        <% } else { %>
                                            counter opened for service.
                                        <% } %>
                                        <br>
                                        At
                                        <%= image.time %><br></li>
                                <% }); %>
                            <% } else { %>
                                <h2>No data available</h2>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-79208871-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>
